/* http://meyerweb.com/eric/tools/css/reset/
v5.0.1 | 20191019
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1900px;
  margin: 0 auto;
}

nav {
  margin-top: 10px;
  margin-bottom: 50px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul > li {
  display: inline-block;
  padding: 10px 20px 10px 20px;
  border: 1px solid transparent;
}

.linkA {
  text-decoration: none;
  color: #3C3C3C;
  font-size: 18px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}

nav li:hover {
  border: 1px solid #3c3c3c;
  opacity: 1;
}

.headerBtns {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn, .link {
  background-color: white;
  padding: 10px 20px;
  font-weight: 500;
  color: #3C3C3C;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  margin: 0px 30px;
  letter-spacing: 0px;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover, .link:hover {
  border: 1px solid #FAD648;
  opacity: 1;
}

.heroimg {
  margin-left: -480px;
  margin-bottom: -3px;
}

.rightSide {
  display: flex;
  flex-direction: column;
}

.homeText {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeTextP {
  font-family: "Open Sans", sans-serif;
  color: #3C3C3C;
  letter-spacing: -0.76px;
}

.homeTextBtn {
  font-weight: 300;
  width: 300px;
  height: 120px;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  margin: 15px;
  border: 1px solid #3C3C3C;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  color: #3C3C3C;
  cursor: pointer;
  letter-spacing: -0.76px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.homeTextBtn:hover {
  border-color: #3C3C3C;
  border-width: 2px;
}

.yellowH2 {
  font-size: 80px;
  font-family: "Open Sans", sans-serif;
  color: #3C3C3C;
  margin-bottom: 30px;
  font-weight: 400;
}

.yellowSpan {
  font-family: "Open Sans", sans-serif;
  color: #3C3C3C;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.36px;
}

.yellowP {
  font-size: 16px;
  font-family: "Merriweather", serif;
  color: #3C3C3C;
  font-weight: 200;
  margin-top: 20px;
  letter-spacing: -0.32px;
  text-align: center;
}

.fourStepsH2 {
  font-family: "Open Sans", sans-serif;
  color: #3C3C3C;
  letter-spacing: -0.76px;
}

.fourIcons {
  padding: 50px 0px;
  background: #F0F1F1 0% 0% no-repeat padding-box;
}

.fourIcons > div {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.aboutUsP {
  text-align: center;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.6px;
  color: #3C3C3C;
  width: 500px;
  height: 150px;
}

.loginBtn {
  letter-spacing: 0px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  border: 1px solid transparent;
  background: none;
  cursor: pointer;
  transition: 0.3s;
}

.loginBtn:hover {
  border: 0.75px solid #3C3C3C;
}

.loginLabel {
  color: #3C3C3C;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.loginInput {
  border: none;
  border-bottom: 1px solid #737373;
  background: none;
  margin-bottom: 25px;
  height: 25px;
  font-size: 20px;
  color: #3C3C3C;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0px;
}

.loginInput:focus {
  outline: none;
}

.helpBtnDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.helpBtn {
  letter-spacing: 0px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  border: 1px solid #3C3C3C;
  background: none;
  cursor: pointer;
  padding: 20px 35px;
  margin: 0px 50px 45px 50px;
}

.helpTextDiv {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.helpText {
  font-family: "Open Sans", sans-serif;
  color: #3C3C3C;
  font-size: 22px;
  letter-spacing: 0px;
}

.helpOptionsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.helpOption {
  width: 1200px;
  height: 90px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.helpOptionSpan {
  font-weight: 300;
  font-size: 24px;
  font-family: "Merriweather", serif;
  color: #3C3C3C;
  letter-spacing: 0px;
}

.helpOptionP {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0px;
  font-family: "Merriweather", serif;
  font-style: italic;
  color: #3C3C3C;
}

.helpOptionPP {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0px;
  font-family: "Merriweather", serif;
  color: #3C3C3C;
  margin-right: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  letter-spacing: 0px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  border: 1px solid #3C3C3C;
  background: none;
  cursor: pointer;
  padding: 10px 15px;
}

/*# sourceMappingURL=style.css.map */
